/*========== Login css start here ===========*/
@import "../../sass/common/common.scss";
@import "../../sass/common/variable.scss";

.login_txt_main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .login_item{
        width: 360px;
        .forgat_pass{
            color: $singColor;
            font-size: 20px;
            font-family: $openSans;
            font-weight: 400;
            margin-top: 25px;
            cursor: pointer;
            transition: all linear .3s;
            &:hover{
                text-decoration:underline ;
            }
        }
        .auth_heading{
            color: $loginColor;
            font-size: 34px;
            font-weight: 700;
            font-family: $openSans;
            text-transform: capitalize;
            margin-bottom: 30px;
        }
        .peragrap{
            color: $scendary;
            font-size: 20px;
            font-weight: 400;
            font-family: $openSans;
        }
        .provider_login{
            border: 1px solid $loginColor;
            padding: 20px 35px;
            border-radius: 5px;
            display: inline-flex;
            align-items: center;
            column-gap: 10px;
            span{
                color: $loginColor;
                font-size: 14px;
                font-weight: 600;
                font-family: $openSans;
            }
        }
        .from_main{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            position: relative;
            .error{
                position: absolute;
                width: 100%;
                color: red;
                font-family: $nunito;
                font-size: 16px;
                text-transform: capitalize;
                font-weight: 500;
                
            }
            .login_input_filed{
                width: 100%;
                color: $loginColor;
                font-size: 14px;
                font-family: $openSans;
                font-weight: 400;
                margin-bottom: 20px;
                &::placeholder{
                    color: $loginColor;
                    font-size: 14px;
                    font-family: $openSans;
                    font-weight: 400;
                }
            }
            .pass_btn{
                border: none;
                outline: none;
                background: transparent;
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
            }
            .submitBtn{
                background-color: $primaryBg !important;
                padding: 20px 0 !important;
                color: $commonClolor !important;
                font-size: 20px !important;
                font-family: $openSans !important;
                font-weight: 600 !important;
                text-transform: capitalize !important;
                border-radius: 8px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
        .sign_txt{
            color: $loginColor;
            font-size: 20px;
            font-family: $openSans;
            font-weight: 400;
            margin-top: 25px;
            a{
                color: $singColor;
                font-weight: 700;
                text-transform: capitalize;
                padding-left: 5px;
            }
        }
    }
}


.login_imgbox{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.forgat_pass{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    .error{
        color: red;
        font-family: $nunito;
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 500;
        margin-top: 10px;
                
    }
    .forgat_iconbtn{
        outline: none;
        border: none;
        background: transparent;
        font-size: 25px;
        background-color: $singColor;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: $commonClolor;
        position: absolute;
        right: -30px;
        top: -30px;
        cursor: pointer;
    }
    h2{
        color: $loginColor;
        font-size: 30px;
        font-family: $openSans;
        font-weight: 600;
        text-transform: capitalize;
    }
    .forgatbtn{
        background-color: $primaryBg !important;
        padding: 10px 0 !important;
        color: $commonClolor !important;
        font-size: 20px !important;
        font-family: $openSans !important;
        font-weight: 600 !important;
        text-transform: capitalize !important;
        border-radius: 8px !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    }
}


/*========== Login css end ===========*/