@import "../../sass/common/common.scss";
@import "../../sass/common/variable.scss";

.search_main{
    background-color: $commonclolor;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 385px;
    .search_item{
        display: flex;
        column-gap: 14px;
        align-items: center;
        padding: 25px;
        justify-content: center;
        .search_icon_txt{
            flex-basis: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .group_dots{
                width: 30px;
                height: 30px;
                background: rgb(244, 238, 238);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    }
}