// color 
$primary: #000000;
$scendary: #4D4D4D;
$bothcolor: #11175D;
$commonclolor: #fff;
$logincolor: #03014C;
$singcolor : #EA6C00;
$peracolor : rgba(0, 0, 0, 0.5);

// bgColor
$primarybg: #5F35F5;
$commonbg: #fff;

// font family 
$nunito: "'Nunito', sans-serif";
$opensans: "'Open Sans', sans-serif";
$poppins: "'Poppins', sans-serif";


