// color 
$primary: #000000;
$scendary: #4D4D4D;
$bothColor: #11175D;
$commonClolor: #fff;
$loginColor: #03014C;
$singColor : #EA6C00;
$peraColor : rgba(0, 0, 0, 0.5);

// bgColor
$primaryBg: #5F35F5;
$commonBg: #fff;

// font family 
$nunito: "'Nunito', sans-serif";
$openSans: "'Open Sans', sans-serif";
$poppins: "'Poppins', sans-serif";


